<link
  rel="icon"
  type="image/svg+xml"
  href="./assets/images/components/favicon/goiteens.svg"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="./assets/images/components/favicon/goiteens-192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="./assets/images/components/favicon/goiteens-512.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="./assets/images/components/favicon/apple-touch-icon-goiteens.png"
/>
<link
  rel="manifest"
  href="./assets/images/components/favicon/goiteens.webmanifest"
/>