.about {
  .item {
    @apply min-h-[260px] pb-1 pt-14 md:min-h-[216px] xl:min-h-[280px];
  }

  .item-1 {
    .numbers {
      @apply text-[#435C1A];
    }
    .text {
      @apply text-[#587A1F];
    }

    background-image: url(../images/sections/about/item-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq(tablet) {
      background-size: 164px auto;
      background-position: top 50% left;
    }

    @include mq(desktop) {
      background-size: contain;
      background-position: top left 40px;
    }
  }

  .item-2 {
    .numbers {
      @apply text-[#1D4766];
    }
    .text {
      @apply text-[#225F8A];
    }

    background-image: url(../images/sections/about/item-2.svg);
    background-repeat: no-repeat;
    background-size: 224px auto;
    background-position: center;

    @include mq(tablet) {
      background-size: 170px auto;
      background-position: center;
    }

    @include mq(desktop) {
      background-size: 280px;
      background-position: center;
    }
  }

  .item-3 {
    .numbers {
      @apply text-[#66251D];
    }

    .text {
      @apply text-[#66251D];
    }

    background-image: url(../images/sections/about/item-3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq(tablet) {
      background-size: 192px auto;
      background-position: center;
    }

    @include mq(desktop) {
      background-size: contain;
      background-position: center;
    }
  }

  .item-4 {
    .numbers {
      @apply text-[#997500];
    }

    .text {
      @apply text-[#B28800];
    }

    background-image: url(../images/sections/about/item-4.svg);
    background-repeat: no-repeat;
    background-size: 255px auto;
    background-position: center;

    @include mq(tablet) {
      background-size: 190px auto;
      background-position: center;
    }

    @include mq(desktop) {
      background-size: contain;
      background-position: center;
    }
  }

  .item-5 {
    .image {
      @apply w-[88px] md:w-[65px] xl:w-[120px] xxl:w-[124px];
    }

    .title {
      @apply text-[#361F7A];
    }

    .text {
      @apply text-[#452994];
    }

    background-image: url(../images/sections/about/item-5.svg);
    background-repeat: no-repeat;
    background-size: 224px;
    background-position: center;

    @include mq(tablet) {
      background-size: 170px auto;
      background-position: center;
    }

    @include mq(desktop) {
      background-size: 280px;
      background-position: center;
      position: relative;
      top: -15px;
    }
  }

  .item-7 {
    padding-bottom: 0;
    .image {
      @apply h-[70px] w-[64px] md:h-[65px] md:w-[54px] xl:h-[120px] xl:w-[110px] xxl:h-[124px] xxl:w-[112px];
    }

    .title {
      @apply text-[#213075];
    }

    .text {
      @apply text-[#27398A];
    }

    background-image: url(../images/sections/about/item-6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq(tablet) {
      background-size: 166px auto;
      background-position: top 50% right;
    }

    @include mq(desktop) {
      background-size: contain;
      background-position: top 50% right 40px;
      height: 280px;
      padding-top: 40px;
    }
  }
  .item-6 {
    padding: 0;
    @apply mx-auto md:h-[216px]  md:w-[216px] xl:relative xl:top-[-15px] xl:h-[320px] xl:w-[320px];
    .image {
      @apply h-full xl:w-full;
    }
  }
}