.directions {
  background-repeat: repeat-x;
  background-image: url('../images/sections/directions/bg.svg');
  background-size: 1761px auto;
  background-position: bottom -536px left calc(50% - 200px);

  @include mq(tablet) {
    background-position: bottom -498px left calc(50% + 352px);
  }

  @include mq(desktop) {
    background-position: bottom -700px left calc(50% - 15px);
  }

  @include mq(big-desktop) {
    background-position: bottom -700px left calc(50% + 53px);
  }

  .container {
    .box {
      .swiper {
        .directions__items {
          @apply h-[200px] w-[335px] border-[3px] bg-white p-5 transition duration-200 hover:scale-105 md:h-[180px] md:w-[396px];
        }
      }
    }
  }

  .logic {
    border-color: #dbf5b0;

    .item-age {
      background-color: #dbf5b0;
    }
  }

  .scratch {
    border-color: #f5e3ab;

    .item-age {
      background-color: #f5e3ab;
    }
  }

  .minecraft {
    border-color: #dbf5b0;

    .item-age {
      background-color: #dbf5b0;
    }
  }

  .painting {
    border-color: #f5e3ab;

    .item-age {
      background-color: #f5e3ab;
    }
  }

  .roblox {
    border-color: #f5bfb8;

    .item-age {
      background-color: #f5bfb8;
    }
  }

  .math {
    border-color: #f0b890;

    .item-age {
      background-color: #f0b890;
    }
  }

  .design {
    border-color: #f5bae2;

    .item-age {
      background-color: #f5bae2;
    }
  }

  .frontend {
    border-color: #c2b0f5;

    .item-age {
      background-color: #c2b0f5;
    }
  }

  .python {
    border-color: #327db2;

    .item-age {
      background-color: #b8dbf5;
    }
  }

  .gameDev {
    border-color: #999999;

    .item-age {
      background-color: #d6d6d6;
    }
  }

  .workshop {
    border-color: #c2b0f5;

    .item-age {
      background-color: #c2b0f5;
    }
  }

  .hmt {
    border-color: #b8c3f5;

    .item-age {
      background-color: #b8c3f5;
    }
  }

  .swiper {
    overflow: visible;

    .swiper-wrapper {
      overflow: visible;
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }
  }
}
