.enroll {
  &-btn::before {
    @include mq(desktop) {
      position: absolute;
      bottom: -16px;
      left: 16px;
      display: block;
      content: '';
      width: 968px;
      height: 80px;
      border: 3px solid #1a1a1a;
      border-radius: 64px;
      z-index: -1;
    }
  }

  &-btn:hover,
  &-btn:focus {
    &::before {
      @include mq(desktop) {
        background-color: #1a1a1a;
      }
    }
  }
  .list-mark li::before {
    content: '';
    background-color: #c2b0f5;
    border-radius: 50%;
    display: block;
    min-width: 16px;
    height: 16px;
    margin-top: 6px;
  }
  @include mq(tablet) {
    padding-top: 212px;
    padding-bottom: 212px;
  }
}
