.hero {
  .bigTitle {
    background: linear-gradient(90deg, #eba371 -4.91%, #6721a4 121.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  background-repeat: no-repeat;
  background-image: url('../images/hero/bg-mob.png');
  background-image: -webkit-image-set(url('../images/hero/bg-mob.webp') 2x);
  background-size: 1187px auto;
  background-position: top 110px left calc(50% + 19px);

  @include mq(tablet) {
    background-repeat: no-repeat;
    background-image: url('../images/hero/bg-tab.png');
    background-image: -webkit-image-set(url('../images/hero/bg-tab.webp') 2x);
    background-size: 1700px auto;
    background-position: top -154px left calc(50% + 80px);
  }

  @include mq(desktop) {
    background-repeat: no-repeat;
    background-image: url('../images/hero/bg-desk.png');
    background-image: -webkit-image-set(url('../images/hero/bg-desk.webp') 2x);
    background-size: 2028px auto;
    background-position: top -200px left calc(50% - 1051px);
  }

  @include mq(big-desktop) {
    background-repeat: no-repeat;
    background-image: url('../images/hero/bg-bigDesk.png');
    background-image: -webkit-image-set(url('../images/hero/bg-bigDesk.webp') 2x);
    background-size: 1700px auto;
    background-position: top -80px left calc(50% - 545px);
  }

  &-clip::before {
    background-color: #e58845;
    min-height: 49%;
    @media (min-width: 320px) and (max-width: 374px) {
      min-height: 53%;
    }

    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-image: url('../images/hero/bg-line.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right calc(50% - 44px) bottom 0px;

    @include mq(tablet) {
      -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
      min-height: 50.8%;
      background-position: right calc(50% - 44px) bottom 57px;
    }

    @include mq(desktop) {
      min-height: 44%;
      -webkit-clip-path: polygon(90% 0, 100% 22%, 100% 100%, 0 100%, 0 17%);
      clip-path: polygon(90% 0, 100% 22%, 100% 100%, 0 100%, 0 17%);
      background-size: 1653px auto;
      background-position: right calc(50% - 5px) bottom -238px;
    }

    @include mq(big-desktop) {
      min-height: 38%;
      background-size: 1653px auto;
      background-position: right calc(50% + 8px) bottom -266px;
    }
  }

  &__list:nth-child(even) {
    @include mq(desktop) {
      width: 204px;
    }
  }

  &-btn::before {
    @include mq(desktop) {
      position: absolute;
      bottom: -16px;
      left: 16px;
      display: block;
      content: '';
      width: 534px;
      height: 80px;
      border: 3px solid #1a1a1a;
      border-radius: 64px;
      z-index: -1;
    }

    @include mq(big-desktop) {
      width: 580px;
    }
  }
  &-btn:hover,
  &-btn:focus {
    &::before {
      @include mq(desktop) {
        background-color: #1a1a1a;
      }
    }
  }

  form {
    @include mq(desktop) {
      & .formBtn-wrapper {
        position: relative;
        z-index: 1;
      }

      & .hero-form-btn::before {
        position: absolute;
        bottom: -12px;
        left: 12px;
        display: block;
        content: '';
        width: 576px;
        height: 56px;
        border: 3px solid #1a1a1a;
        border-radius: 64px;
        z-index: -1;

        @include mq(big-desktop) {
          width: 720px;
          height: 64px;
        }
      }

      & .hero-form-btn:hover,
      & .hero-form-btn:focus {
        &::before {
          @include mq(desktop) {
            background-color: #1a1a1a;
          }
        }
      }
    }
  }
}
