.learn {
  background-image: url('../images/sections/learn/bg-sm.svg');
  background-repeat: no-repeat;

  @include mq(tablet) {
    background-image: url('../images/sections/learn/bg.svg');
    background-size: 150%;
    background-position: top center;
  }
  @include mq(desktop) {
    background-position: top -30px center;
    background-size: 1400px auto;
  }
  @include mq(big-desktop) {
    background-position: top -30px center;
    background-size: 1400px auto;
  }

  &__item {
    background-color: #fff;
  }

  &__item.card-1 {
    background-color: #E6F2FA;
    background-image: url('../images/sections/learn/dots.svg');
    background-repeat: no-repeat;
    background-position: top -37px right -171px;

    @include mq(tablet) {
      background-position: top -37px right -10px;
    }

    @include mq(desktop) {
      @apply flex flex-col justify-end;

      width: 437px;
      height: 492px;

      position: absolute;
      top: -135px;
      left: 51px;
      z-index: 1;

      background-position: top 12px right 110px;

      .learn__text {
        width: 301px;
      }
    }

    @include mq(big-desktop) {
      top: -82px;
      left: 75px;

      .learn__text {
        width: 354px;
      }
    }
  }

  &__item.card-2 {
    @include mq(desktop) {
      width: 501px;
      height: 245px;

      position: absolute;
      top: 380px;

      .learn__text {
        width: 323px;
      }
    }

    @include mq(big-desktop) {
      top: 470px;
      left: 24px;

      .learn__text {
        width: 392px;
      }
    }
  }

  &__item.card-3 {
    @include mq(desktop) {
      width: 420px;
      height: 237px;

      padding-bottom: 43px;

      position: absolute;
      top: -29px;
      right: 58px;
      z-index: 11;
    }

    @include mq(big-desktop) {
      width: 480px;

      top: 100px;
      right: 104px;

      padding-right: 36px;

      .learn__text {
        max-width: 408px;
      }
    }
  }

  &__item.card-4 {
    background-color: #F2FAE6;

    @include mq(desktop) {
      width: 580px;
      height: 237px;

      padding-bottom: 18px;

      position: absolute;
      top: 232px;
      right: -44px;
      z-index: 11;

      .learn__text {
        width: 408px;
      }
    }

    @include mq(big-desktop) {
      width: 611px;

      top: 369px;
      right: 24px;
    }
  }

  &__item.card-5 {
    background-image: url('../images/sections/learn/circles.svg');
    background-repeat: no-repeat;
    background-position: right -40px top -75px;
    background-size: 181px auto;

    @include mq(desktop) {
      width: 792px;

      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 11;

      background-position: right 0px center;
      .learn__text {
        width: 623px;
      }
    }

    @include mq(big-desktop) {
      width: 900px;

      bottom: 0;
      right: 146px;

      .learn__text {
        width: 615px;
      }
    }
  }

  &__img::after {
    content: '';

    width: 214px;
    height: 107px;

    position: absolute;
    bottom: 4px;
    left: 4px;

    background-image: url('../images/sections/learn/learn-img.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    @include mq(big-desktop) {
      background-image: url('../images/sections/learn/learn-img-xxl.svg');

      width: 253px;
      height: 183px;

      bottom: -18px;
      left: 4px;
    }
  }
}
