.program {
  background-repeat: no-repeat;
  background-image: url('../images/sections/program/bg.svg');
  background-size: cover;
  // background-position: top -32px left calc(50% + 101px);

  @include mq(tablet) {
    background-size: cover;
    background-position: top left 50%;
  }

  @include mq(desktop) {
    background-repeat: repeat;
    background-size: 1478px auto;
    background-position: top -150px left calc(50% + 110px);
  }

  @include mq(big-desktop) {
    background-image: none;
    background-color: transparent;
  }

  &-wrapper {
    @include mq(big-desktop) {
      // background-repeat: no-repeat;
      background-image: url('../images/sections/program/bg.svg');
      background-size: 1478px auto;
      background-position: top -150px left 58px;
    }
  }
  .program-bg[aria-expanded='true'] {
    @include mq(desktop) {
      background-repeat: no-repeat;
      background-image: image-set(url("../images/sections/program/bg-card.webp") 1x,url("../images/sections/program/bg-card@2x.webp") 2x);
      background-size: 193px auto;

      background-position: bottom right;
    }
    @include mq(big-desktop) {
      background-repeat: no-repeat;
      background-image: image-set(url("../images/sections/program/bg-card.webp") 1x,url("../images/sections/program/bg-card@2x.webp") 2x);

      background-position: bottom right;
    }
  }
  .tab-btn.active {
    border-radius: 112px;
    background: #5331b2;
    color: white;
  }
  .tab-content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  .tab-content {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
  }
  .tab-btn {
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    transition:
      background 0.3s ease,
      border-radius 0.3s ease,
      color 0.3s ease;
  }

  .tab-btn.active {
    border-radius: 112px;
    background: #5331b2;
    color: white;
  }

  .item-click > .accordion-btn {
    fill: #82B232;
    color: #82B232;
    stroke: #82B232;
  }
  // .item-click:hover > .accordion-btn {
  //   fill: #5331b2;
  //   color: #5331b2;
  //   stroke: #5331b2;
  // }
  // .item-click:active > .accordion-btn {
  //   fill: #452994;
  //   color: #452994;
  //   stroke: #452994;
  // }
  // .accordion-item[aria-expanded='true'] > .accordion-btn {
  //   fill: #452994 !important;
  //   color: #452994 !important;
  //   stroke: #452994 !important;
  // }
}
