.reviews {
  overflow: hidden;
}
.reviews-container::before {
  content: '';
  position: absolute;
  top: -450px;
  left: -275px;
  display: block;
  width: 355px;
  height: 875px;
  // background-image: url('../images/reviews/reviews-red-dots.svg');
  background-repeat: no-repeat;
  z-index: 1;
  @include mq(tablet) {
    top: -672px;
    left: -216px;
  }
  @include mq(desktop) {
    top: -810px;
  }

  @include mq(big-desktop) {
    top: -815px;
    left: -76px;
  }
}
.reviews-img::before {
  content: '';
  position: absolute;
  right: -4%;
  bottom: 8%;
  display: block;
  width: 12%;
  height: 89%;
  background-color: #d6d6d6;
  background-repeat: no-repeat;
  z-index: -1;
}
.reviews-img::after {
  content: '';
  position: absolute;
  right: -7%;
  bottom: 10%;
  display: block;
  width: 12%;
  height: 84%;
  background-color: #ededed;
  background-repeat: no-repeat;
  z-index: -2;
}

// .reviews-btn-prev {
//   background-image: url(../images/sections/reviews/reviews-left-btn.svg);
//   background-repeat: no-repeat;
// }

// .reviews-btn-next {
//   background-image: url(../images/sections/reviews/reviews-right-btn.svg);
//   background-repeat: no-repeat;
// }
