.reviews {
  overflow: hidden;
}
.reviews-container::before {
  content: '';
  position: absolute;
  top: -450px;
  left: -275px;
  display: block;
  width: 355px;
  height: 875px;
  // background-image: url('../images/reviews/reviews-red-dots.svg');
  background-repeat: no-repeat;
  z-index: 1;
  @include mq(tablet) {
    top: -672px;
    left: -216px;
  }
  @include mq(desktop) {
    top: -810px;
  }

  @include mq(big-desktop) {
    top: -815px;
    left: -76px;
  }
}
.reviews-img::before {
  content: '';
  position: absolute;
  right: -4%;
  bottom: 8%;
  display: block;
  width: 12%;
  height: 89%;
  background-color: #d6d6d6;
  background-repeat: no-repeat;
  z-index: -1;
}
.reviews-img::after {
  content: '';
  position: absolute;
  right: -7%;
  bottom: 10%;
  display: block;
  width: 12%;
  height: 84%;
  background-color: #ededed;
  background-repeat: no-repeat;
  z-index: -2;
}

.reviews-btn-prev {
  background-image: url(../images/sections/reviews/reviews-left-arr.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  transition: all 300ms ease-in;

  &::before {
    content: "";

    width: 111px;
    height: 62px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    clip-path: polygon(58.62% 0%, 100% 0%, 100% 100%, 41.61% 100%);
    background-color: #c2b0f5;

    border-radius: 104px;

    transition: all 300ms ease-in;
  }

  &:hover, &:focus {
    &::before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      background-color: #653CD9;
    }

    background-image: url(../images/sections/reviews/reviews-left-arr-hov.svg);
  }

  &:active, &:focus-within {
    &::before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      background-color: #8160E0;
    }

    background-image: url(../images/sections/reviews/reviews-left-arr-hov.svg);
  }
}

.reviews-btn-next {
  background-image: url(../images/sections/reviews/reviews-right-arr.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  transition: all 300ms ease-in;

  &::before {
    content: "";

    width: 111px;
    height: 62px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    clip-path: polygon(0% 0%, 58.62% 0%, 41.61% 100%, 0% 100%);
    background-color: #c2b0f5;

    border-radius: 104px;

    transition: all 300ms ease-in;
  }

  &:hover, &:focus {
    &::before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      background-color: #653CD9;
    }

    background-image: url(../images/sections/reviews/reviews-right-arr-hov.svg);
  }

  &:active, &:focus-within {
    &::before {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      background-color: #8160E0;
    }

    background-image: url(../images/sections/reviews/reviews-right-arr-hov.svg);
  }
}
