/*! purgecss start ignore */

.teachers {
  @include mq(tablet) {
    background: image-set(url('../images/sections/teachers/teachers-bg-md.webp') 1x,url('../images/sections/teachers/teachers-bg-md@2x.webp') 2x);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  @include mq(desktop) {
    background: image-set(url('../images/sections/teachers/teachers-bg-xl.webp') 1x,url('../images/sections/teachers/teachers-bg-xl@2x.webp') 2x);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  @include mq(big-desktop) {
    background: image-set(url('../images/sections/teachers/teachers-bg-xxl.webp') 1x,url('../images/sections/teachers/teachers-bg-xxl@2x.webp') 2x);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    & .slick-dots {
      top: -62px;
    }
  }

  &-item {
    @media (min-width: 320px) and (max-width: 374.99px) {
      min-width: 280px;
    }
  }

  &-wrapper {
    backdrop-filter: blur(22px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    //   url(<path-to-image>),
    //   lightgray 50% / cover no-repeat;
    // filter: blur(22px);
  }
}
/*! purgecss end ignore */