.teachers {
  @include mq(tablet) {
    background: url('../images/teachers/bg-tab.svg');
    background-repeat: no-repeat;
    background-size: 276px auto;
    background-position: right top;
  }

  @include mq(desktop) {
    background: url('../images/teachers/bg-desk.svg');
    background-size: 788px auto;
    background-repeat: no-repeat;
    background-position: right;
  }
  @include mq(big-desktop) {
    background: url('../images/teachers/bg-big.svg');
    background-size: 770px auto;
    background-repeat: no-repeat;
    background-position: right;
  }

  &-item {
    @media (min-width: 320px) and (max-width: 374.99px) {
      min-width: 280px;
    }
  }

  &-wrapper {
    backdrop-filter: blur(22px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    //   url(<path-to-image>),
    //   lightgray 50% / cover no-repeat;
    // filter: blur(22px);
  }
}
