{% set section = about %}
<section class="{{section.id}} pt-10 pb-3 md:pt-20 md:pb-[30px] xl:pt-[170px] xl:pb-[85px]">
  <div class="container">
    <h2 class="section-title mb-6 xxl:mb-10 mdOnly:mb-10">{{section.title}}</h2>
    <p class="mb-10 text-base md:mb-8 md:text-xl xl:mb-[96px] xl:max-w-[883px] xxl:mb-20">
      {{section.text}}
    </p>
    <ul class="mb-10 grid gap-10 md:mb-[60px] md:grid-cols-3 md:gap-6 xl:mb-[90px] xxl:mb-[72px]">
      {% for item in section.items %}
      <li class="about__items md:max-w-[219px] xl:max-w-[384px] xxl:max-w-[480px]">
        <p
          class="item-number mb-2 text-center font-IBMPlexMono text-[68px] font-semibold uppercase leading-[1.2] md:text-[60px] xl:text-[100px] mdOnly:mb-1"
        >
          {{item.number}}
        </p>
        <p
          class="item-text text-center font-IBMPlexMono text-base font-semibold xl:text-2xl mdOnly:text-[16px]"
        >
          {{item.text}}
        </p>
      </li>
      {% endfor %}
    </ul>
    <ul class="grid gap-4 md:grid-cols-2 md:gap-x-6 md:gap-y-4 xl:grid-cols-4 xl:gap-8 xxl:gap-4">
      {% for award in section.itemsAwards %}
      <li class="award__item pb-[45px] pt-10 md:px-[30px] md:pt-12 xl:px-0 xxl:pb-5">
        <picture>
          <!-- WEBP -->
          <source
            type="image/webp"
            srcset="
              ./assets/images/about/{{award.img}}.webp    1x,
              ./assets/images/about/{{award.img}}@2x.webp 2x
            "
          />
          <!-- PNG (insert "image/jpeg" for JPEG) -->
          <img
            class="item-img mx-auto mb-6 md:mb-4 xxl:mb-6"
            width="{{award.width}}"
            height="{{award.height}}"
            loading="lazy"
            alt="{{award.alt}}"
            src="./assets/images/about/{{award.img}}.png"
            srcset="./assets/images/about/{{award.img}}@2x.png 2x"
          />
        </picture>
        <h3
          class="item-title mb-2 text-center text-[20px] font-semibold uppercase md:leading-[1.3] xl:mb-[15px] xxl:mb-3"
        >
          {{award.title}}
        </h3>
        <p class="text-center text-base text-[#6E6E6E]">{{award.text}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
