{% set section = before %}
<!-- md:grid-rows-5 md:grid-cols-2 md:grid-flow-col -->
<section class="{{section.id}} py-20 bg-[#FAF5E6] md:py-[130px]">
  <div class="container">
    <h2 class="section-title mb-10 md:mb-8 md:text-center">{{section.title}}</h2>
    <ul
      class="xl:grid-y-8 xl:grid-x-[70px] mb-12 grid grid-cols-2 gap-x-6 gap-y-10 font-IBMPlexMono text-[14px] md:mx-auto  md:max-w-[515px] md:text-xl md:font-semibold xl:max-w-[1000px] xl:grid-cols-3 xxl:mb-[117px] md:mb-[67px] "
    >
      {% for item in section.list %}
      <li
        class="bg-item flex h-9 flex-col justify-center pl-[10px] md:h-[72px] md:pl-7 xl:text-2xl"
      >
        <p>{{item}}</p>
      </li>
      {% endfor %}
    </ul>
    <div class="relative mx-auto w-full max-w-[968px] xl:z-[1]">
      <button
        class="btn before-btn mx-auto block max-w-[335px] bg-[#5331B2] py-2 text-center hover:bg-[#653CD9] focus:bg-[#653CD9] active:bg-[#8160E0] md:max-w-[704px] md:py-4 xl:max-w-[968px] xl:bg-[#5331B2] xl:py-6 xl:hover:bg-[#653CD9] xl:focus:bg-[#653CD9]"
        type="button"
        data-modal-open
      >
        {{section.btnText}}
      </button>
    </div>
  </div>
</section>
