{% set section = directions %}

<section class="{{section.id}} overflow-hidden xl:py-0 bg-[#F5F5F5] pt-20 pb-10">
  <div class="container">
    <div
      class="box xl:flex xl:h-[740px] xl:items-center xl:gap-[53px] xxl:mx-auto xxl:max-w-[1236px] xxl:gap-[88px]"
    >
      <div class="xl:max-w-[732px] xl:shrink-0 xxl:max-w-[748px]">
        <h2
          class="font-IBMPlexMono text-lg font-semibold uppercase text-[#474747] md:text-[28px] md:font-bold md:normal-case md:leading-snug xxl:text-[32px] xxl:leading-snug xxl:tracking-[0.01em]"
        >
          {{section.title}}
        </h2>

        <p
          class="mt-4 text-sm text-[#474747] md:text-base xl:max-w-[700px] xl:text-lg xxl:max-w-none"
        >
          {{section.text}}
        </p>

        <a
          href="{{section.linkBtn}}"
          aria-label="{{section.ariaLabel}}"
          rel="noopener noreferrer nofollow"
          target="_blank"
          class="mt-10 block w-full max-w-[335px] rounded-[104px] bg-[#653CD9] py-2 text-center font-IBMPlexSans text-[16px] leading-[2] text-white duration-300 hover:bg-[#5331B2] focus:bg-[#5331B2] active:bg-[#5331B2] md:max-w-[704px] md:py-[18px] md:text-xl xl:mt-10 xl:max-w-[732px] notXl:mx-auto"
        >
          {{section.btn}}
        </a>
      </div>

      <div class="directions__slider swiper mt-12 md:mt-[120px] xl:h-[708px]">
        <div class="swiper-wrapper cursor-grab">
          {% for item in section.items %}
          <div class="directions__items {{item.class}} swiper-slide">
            <div class="flex flex-col items-start gap-3">
              <p
                class="item-age inline-block rounded-[50px] px-3 pb-[5px] pt-[3px] font-IBMPlexMono text-sm font-semibold"
              >
                {{item.age}}
              </p>
              <h3 class="font-IBMPlexMono text-lg font-bold text-[#474747]">{{item.title}}</h3>
            </div>
            <p class="mt-1 text-sm text-[#474747]">{{item.text}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
