{% set section = enroll %}
<section
  class="{{section.id}} bg-[#FAEEE6] py-20 xl:pt-[130px] xl:pb-[130px] xxl:pb-[156px] md:pt-[72px]"
>
  <div class="container">
    <div class="xl:mx-auto xl:max-w-[982px]">
      <h2
        class="section-title mb-12 text-center md:mb-10 md:text-start xl:mb-[56px] xl:max-w-none smOnly:text-[18px] smOnly:leading-[1.3]"
      >
        {{section.title}}
      </h2>
      <ul class="mb-12 grid gap-y-10 md:mb-12 md:gap-y-8 xl:grid-cols-2 xl:gap-x-6 xl:gap-y-10">
        {% for item in section.items %}
        <li>
          <p class="mb-10 font-IBMPlexMono text-lg font-semibold md:mb-8 md:text-2xl xxl:mb-[56px]">
            <span class="block mb-2 text-[14px] md:text-xl font-normal">{{item.subtitle}}</span>
            {{item.format}}
          </p>
          <h3 class="mb-2 font-IBMPlexMono text-[14px] font-normal md:text-xl">{{item.title}}</h3>
          <ul
            class="list-disc pl-5 font-IBMPlexMono text-base font-normal text-black-47 md:pl-8 md:text-[16px]"
          >
            {% for text in item.list %}
            <li class="text-lg font-semibold md:text-2xl">{{text}}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      <div class="relative xl:z-[1]">
        <button
          class="btn enroll-btn mx-auto block max-w-[335px] bg-[#5331B2] py-2 text-center hover:bg-[#653CD9] focus:bg-[#653CD9] active:bg-[#8160E0] md:max-w-[704px] md:py-4 xl:max-w-[968px] xl:bg-[#5331B2] xl:py-6 xl:hover:bg-[#653CD9] xl:focus:bg-[#653CD9]"
          type="button"
          data-modal-open
        >
          {{section.btn}}
        </button>
      </div>
    </div>
  </div>
</section>
