{% set section = footer %}
<footer class="bg-[#1A1A1A] pb-[64px] pt-8 font-IBMPlexSans text-white md:pb-10 md:pt-10">
  <div class="container md:px-[32px] xl:flex xl:justify-between">
    <div
      class="footer__content-wrapper relative border-b border-[#3F3F3F] pb-8 md:flex md:justify-between xl:gap-[207px] xl:border-none xl:pb-0 xxl:gap-[251px]"
    >
      <div class="flex flex-col items-start gap-8 md:items-start xl:gap-14 smOnly:justify-between">
        <a href="{{page.canonical}}" aria-label="{{components.logo.link_logo_aria}}" class="">
          <svg
            aria-label="{{logo.logo_aria}}"
            width="135"
            height="32"
            class="md:h-auto md:w-[195px]"
          >
            <use href="./assets/images/sprite.svg?v={{data.assetsVersion}}#logo-goiteens"></use>
          </svg>
        </a>

        <ul
          class="flex max-h-[96px] max-w-[255px] flex-wrap gap-4 sm:max-w-full sm:flex-nowrap md:max-w-full"
        >
          {% for item in section.socialItems %}
          <li class="h-[40px] w-[40px]">
            <a
              href="{{item.link}}"
              rel="noopener noreferrer nofollow"
              aria-label="{{item.ariaLabel}}"
              target="_blank"
              class="footer-social-link"
            >
              <svg
                width="40"
                height="40"
                aria-label="{{item.svgAlt}}"
                class="footer__icon-social fill-white hover:fill-[#fec830]"
              >
                <use
                  href="./assets/images/sprite.svg?v={{data.assetsVersion}}#{{item.svg}}"
                ></use>
              </svg>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div
      class="pt-8 md:flex md:items-center md:justify-between xl:flex-col xl:items-end xl:justify-start xl:gap-5 xl:pt-0"
    >
      <div class="flex items-center justify-center gap-3 smOnly:mb-6">
        <svg
          width="24"
          height="24"
          class="inline-block fill-white hover:fill-[#fec830] focus:fill-[#fec830]"
          aria-label="іконка телефона"
        >
          <use
            href="./assets/images/sprite.svg{% if cacheVersion %}?v={{ cacheVersion }}{% endif %}#phone"
          ></use>
        </svg>
        <a
          href="tel:{{section.contactNumberLink}}"
          class="text-[20px] font-normal leading-none hover:text-[#fec830] focus:text-[#fec830]"
        >
          <span>{{section.contactNumber}}</span>
        </a>
      </div>
      <ul class="mx-auto mb-7 flex max-w-[92px] gap-4 md:m-0">
        {% for item in section.paymentList %}
        <li>
          <svg width="38" height="26" aria-label="{{item.svgAlt}}">
            <use
              href="./assets/images/sprite.svg{% if cacheVersion %}?v={{ cacheVersion }}{% endif %}#{{item.svg}}"
            ></use>
          </svg>
        </li>
        {% endfor %}
      </ul>
      <ul
        class="mx-auto flex max-w-[221px] flex-col items-center gap-4 text-[16px] leading-none text-white md:m-0 md:items-end md:gap-3 xl:gap-4"
      >
        {% for item in section.documentList %}
        <li class="flex items-center">
          <a
            href="{{item.link}}"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="text-[#ABABAB] underline duration-300 hover:text-accent focus:text-accent"
            >{{item.title}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
