{% set section = header %}
<header class="{{section.id}} py-[27px] notXl:shadow-gray md:py-8 xl:py-[18px] xxl:py-3">
  <div class="container">
    <!-- <div class="flex items-center justify-between"> -->
    <div class="xl:grid xl:gap-2">
      <a href="{{page.canonical}}" aria-label="{{logo.link_logo_aria}}">
        <svg
          class="md:h-9 md:w-[142px] xl:h-6 xl:w-[96px] xxl:h-9 xxl:w-[142px]"
          width="118"
          height="30"
          aria-label="{{logo.logo_aria}}"
        >
          <title>{{logo.logo_aria}}</title>
          <use href="./assets/images/sprite.svg#logo"></use>
        </svg>
      </a>
      <p
        class="hidden font-gotham xl:block xl:max-w-[102px] xl:text-[10px] xl:leading-[1.6] xl:tracking-[0.1px] xl:text-[#1A1A1A] xxl:max-w-[123px] xxl:text-xs xxl:tracking-[0.12px]"
      >
        {{section.textLogo}}
      </p>
    </div>
  </div>
</header>
