{% set section = header %}
<header class="{{section.id}} py-[27px] notXl:shadow-gray md:py-8 xl:py-[18px] xxl:py-3">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="xl:grid xl:gap-2">
        <a href="{{page.canonical}}" aria-label="{{logo.link_logo_aria}}">
          <svg
          width="100"
          height="24"
          class="md:h-auto md:w-[149px] xl:w-[133px]"
            aria-label="{{logo.logo_aria}}"
          >
            <title>{{logo.logo_aria}}</title>
            <use href="./assets/images/sprite.svg?v={{data.assetsVersion}}#logo"></use>
          </svg>
        </a>
      </div>
      <a
        href="{{section.number.link}}"
        class="font-IBMPlexMono font-bold leading-[1.13] text-purple-D9 hover:text-purple-E0 focus:text-purple-E0 md:text-xl"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >{{section.number.text}}</a
      >
    </div>
  </div>
</header>
