{% set section = reviews %}
<section class="{{section.id}} py-20 md:py-[160px] xl:py-[170px] xl:pb-[167px] xxl:pb-[172px]">
  <div class="reviews-container container relative">
    <div class="relative xl:mx-auto xl:w-[984px] xl:pt-4">
      <h2
        class="section-title mb-8 text-xl md:mb-10 md:text-[32px] md:leading-[1.3] xl:ml-[27px] xxl:ml-5 mdOnly:max-w-[583px]"
      >
        {{ section.title }}
      </h2>
      <div class="relative">
        <ul class="review-slider-js xl:ml-[27px] xl:max-w-[968px] xxl:ml-5">
          {% for card in section.cards %}
          <li class="xl:!flex xl:!gap-11">
            <div class="reviews-img relative mb-6 inline-block pb-4 pl-4 md:mb-10">
              <div class="relative border-b-[3px] border-l-[3px] border-black-dark pb-2 pl-2">
                <img
                  width="299"
                  height="438"
                  loading="lazy"
                  alt="{{ card.alt }}"
                  src="./assets/images/sections/reviews/{{ card.img }}.webp"
                  srcset="./assets/images/sections/reviews/{{ card.img }}@2x.webp 2x"
                />
              </div>
              <!-- PLAY BUTTON -->
              <!-- <a
                class="group absolute bottom-0 left-0 z-[2] flex h-[84px] w-[84px] transform items-center justify-center bg-[#FEC830] duration-500 hover:bg-[#E0AB00] focus:bg-[#E0AB00] active:bg-[#F0CD60]"
                rel="noopener noreferrer nofollow"
                href="{{ card.link }}"
                target="_blank"
                aria-label="Кнопка програвання відео"
              >
                <svg
                  class="transform duration-500 cursor-pointer"
                  width="48"
                  height="48"
                  aria-label="Іконка плей"
                >
                  <use href="./assets/images/sprite.svg#{{ section.svgPlay }}"></use>
                </svg>
              </a> -->

              <span class="absolute bottom-9 left-[136px] font-IBMPlexMono text-sm text-white">
                {{ card.imgTitle }}
              </span>
            </div>
            <div class="xl:w-[584px]">
              <p class="md:text-xl">{{ card.text1 }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>

        <!-- SLIDER BUTTONS -->
        <div
          class="mt-10 flex items-center justify-center gap-2 md:absolute md:right-0 md:top-[387px] md:mt-0 md:w-[230px] xl:left-[400px] xl:right-auto"
        >
          <button
            class="review-prev-but-js reviews-btn-prev relative h-[62px] w-[111px] rounded-full"
            aria-label="кнопка попередній слайд"
            type="button"
          ></button>
          <button
            class="review-next-but-js reviews-btn-next relative h-[62px] w-[111px] rounded-full"
            aria-label="кнопка наступний слайд"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
