{% set section = reviews %}
<section class="{{section.id}} py-20 md:py-[72px] xl:py-[170px] xl:pb-[85px]">
  <div class="reviews-container container relative">
    <div class="relative xl:mx-auto xl:w-[984px] xl:pt-4">
      <h2
        class="section-title mb-8 text-xl md:mb-10 md:text-[32px] md:leading-[1.3] mdOnly:max-w-[583px]"
      >
        {{ section.title }}
      </h2>
      <div class="relative">
        <ul>
          {% for card in section.cards %}
          <li class="xl:flex xl:gap-11">
            <div class="reviews-img relative mb-6 inline-block pb-4 pl-4 md:mb-10">
              <div class="relative border-b-[3px] border-l-[3px] border-black-dark pb-2 pl-2">
                <img
                   width="299"
                   height="438"
                   loading="lazy"
                   alt="{{ card.alt }}"
                   src="./assets/images/sections/reviews/{{ card.img }}.webp"
                   srcset="./assets/images/sections/reviews/{{ card.img }}@2x.webp 2x"
                 />
             </div>
              <a
                class="group absolute bottom-0 left-0 z-[2] flex h-[84px] w-[84px] transform items-center justify-center bg-[#FEC830] duration-500 hover:rotate-45 focus:rotate-45 active:bg-[#F0CD60]"
                rel="noopener noreferrer nofollow"
                href="{{ card.link }}"
                target="_blank"
                aria-label="Кнопка програвання відео"
              >
                <svg
                  class="transform duration-500 group-hover:-rotate-45 group-focus:-rotate-45"
                  width="48"
                  height="48"
                  aria-label="Іконка плей"
                >
                  <use href="./assets/images/sprite.svg#{{ section.svgPlay }}"></use>
                </svg>
              </a>
              <!-- END PLAY BUTTON -->
              <span class="absolute bottom-9 left-[136px] font-IBMPlexMono text-sm text-white">
                {{ card.imgTitle }}
              </span>
            </div>
            <div class="xl:w-[584px]">
              <h3 class="uppercase !text-[18px] leading-[1.33] md:text-2xl mb-3 md:mb-6 xl:mb-7 section-title">
                {{ card.title }}
              </h3>
              <p class="md:text-xl">{{ card.text1 }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        <!-- SLIDER BUTTONS -->

        {#
        <div
          class="mt-10 flex items-center justify-center gap-2 md:absolute md:right-0 md:top-[387px] md:mt-0 xl:left-0"
        >
          <button
            class="reviews-btn-prev h-[62px] w-[111px] rounded-full"
            aria-label="кнопка попередній слайд"
            type="button"
          ></button>
          <button
            class="reviews-btn-next h-[62px] w-[111px] rounded-full"
            aria-label="кнопка наступний слайд"
            type="button"
          ></button>
        </div>
        #}
        <!-- END SLIDER BUTTONS -->
      </div>
    </div>
  </div>
</section>
