{% set section = studying %}
<section class="{{section.id}} scroll-container container pt-20 xl:p-0 relative overflow-hidden">
  {% for item in section.items %}
  <div
    class="studying-box scroll-panel pb-20 xl:px-10 xl:py-0 xl:m-0 xl:flex xl:flex-row-reverse xl:items-center xl:justify-around xl:gap-[74px] xxl:px-14 xxl:gap-[161px]"
  >
    <div class="{{item.class}} studying-image mb-5 w-[323px] relative rounded-3xl md:w-[680px] md:mb-10 xl:w-[589px] xxl:w-[640px]">
      <img
        src="./assets/images/sections/studying/{{item.class}}.webp"
        srcset="./assets/images/sections/studying/{{item.class}}@2x.webp 2x"
        alt="{{item.imageAlt}}"
        width="680"
        height="425"
        loading="lazy"
        class="rounded-2xl md:rounded-3xl"
      />
    </div>

    <div class="studying-content overflow-hidden xl:overflow-hidden">
      <span
        class="studying-number font-IBMPlexMono font-medium text-black-primary text-[84px] leading-[1.33] md:text-[148px] md:leading-[192px]"
      >
        {{ item.id }}
      </span>

      <h3 class="studying-subtitle mb-6 font-IBMPlexMono uppercase text-black-primary text-[20px] leading-[26px] font-semibold md:text-[32px] md:leading-[42px] xl:text-end">
        {{ item.title }}
      </h3>

      <p class="font-IBMPlexSans text-black-secondary text-base font-normal smOnly:pl-5 md:text-xl md:leading-7">
        {{item.text.preText}}
        <span class="font-semibold">{{item.text.accent}}</span>
        {{item.text.afterText}}
      </p>
    </div>
  </div>
  {% endfor %}
</section>