{% if section.id === 'header' %}
<!-- HEADER -->
<a
  class="block w-max invert duration-300 hover:scale-105 focus:scale-105"
  href="{{page.canonical}}"
  aria-label="{{logo.link_logo_aria}}"
>
  <svg width="100" height="30" aria-label="{{logo.logo_aria}}">
    <title>{{logo.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo"></use>
  </svg>
</a>
{% else %}
<!-- FOOTER -->
<a
  class="flex justify-center opacity-30 duration-300 hover:opacity-100 focus:opacity-100 smOnly:mb-8"
  href="{{page.canonical}}"
  aria-label="{{logo.link_logo_aria}}"
>
  <svg width="100" height="30" aria-label="{{logo.logo_aria}}">
    <title>{{logo.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo"></use>
  </svg>
</a>
{% endif %}
